body {
  margin: 0;
}

.app-wrapper {
  display: flex;
  justify-content: center;
  height: 100vh;
  max-width: 900px;
  margin: 0 auto;
}

button {
  height: 50px;
  margin: auto;
}

button:hover {
  cursor: pointer;
}
